body {
    margin: 0;
    padding: 0;
    font-family: 'Shadows Into Light', cursive;
    background-image: url('../img/cropped-RM_page-header_background1-3.png');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    height: 100%;
    color: white;
}

/* --------------------RESULTADOS-------------------- */

.resultados img {
    border-radius: 50%;
    margin: 20px;
    width: 150px;
    box-shadow:0px 0px 30px 0px yellow;
    transition: 1s;
    z-index: -20px;
}
.resultados img:hover{
    color: #255784;
    background: #2196f3;
    transform: scale(1.1);
    box-shadow: 0 0 20px yellow, 0 0 80px blue, 0 0 40px red;
    transition: 1s;

}
.detallePersona {
    vertical-align: middle;
}
ul {
    background-color: rgba(245, 245, 220, 0.151);
    height: auto;
    display: inline-block;
    box-shadow: 0px 0px 10px 0px white;
    border-radius: 10px;
    padding: 10px 20px;   
    text-align: start;
    transition: 1s;
}
ul:hover:nth-child(2){
    box-shadow: 0 0 20px red;    
    transition: 1s;
}

ul li span {
    font-size: 20px;
    font-weight: 100;
}

/* --------------------MODAL-------------------- */

.modal {
    color: rgb(26, 23, 23);
    font-family: 'Times New Roman', Times, serif;
}
